<div class="footer">
  <br/>
  <p class="footer-text">
     Visit our github! <%= link_to image_tag("github.png", :class => "github", :alt => "visit github"), "https://github.com/sylwiavargas/Fierce-Stories", :target => "_blank" %>
    </p>
</div>
